/* import 'relative/path/to/stylesheet.scss'; */
body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.container {
    background: white;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0.0.0.0.1);
    padding: 20px;
}


h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: aliceblue;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #272727;
    border-radius: 5px;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    text-align: center;
    color: black;
    font-style: italic;
    padding: 12px;
    border-bottom: 1px solid #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover .delete-btn {
    opacity: 1;
}

.delete-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: blue;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}